{% extends "admin/base.html" %}

{% block title %}Panel administracyjny{% endblock %}

{% block content %}
  <div class="page-header">
    <div></div>
    <h1>Panel administracyjny</h1>
    <a href="/admin/logout">Wyloguj</a>
  </div>

  <div class="stats">
    <div class="stat">
      <h2>Odwiedzenia strony</h2>
      <p>{{ page_visits }}</p>
    </div>
    <div class="stat">
      <h2>Edycje</h2>
      <p>{{ edition_count }} edycji</p>
      <a href="/admin/editions" class="stat-cta">Zarządzaj</a>
    </div>
    <div class="stat">
      <h2>Kapituła</h2>
      <p>{{ capitule_count }} członków</p>
      <a href="/admin/capitule" class="stat-cta">Zarządzaj</a>
    </div>
    <div class="stat">
      <h2>Galeria</h2>
      <p>{{ "WIP" }} zdjęć</p>
    </div>
  </div>
{% endblock %}
