<!doctype html>
<html lang="pl">
  <head>
    <title>Lista 100 - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/style.css" rel="stylesheet" />
    {% block styles %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% include "components/header.html" %}

      <div class="content-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% include "components/footer.html" %}
  </body>
</html>
