{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
  <div class="page-header">
    <div></div>
    <h1>Lista 100</h1>
    <div></div>
  </div>
  <h2>Czym jest Lista 100?</h2>
  <p>
    Lista 100 jest jedną z najważniejszych inicjatyw Szerokiego Porozumienia na
    Rzecz Umiejętności Cyfrowych w Polsce
  </p>
  <p>
    Jest ona wyrazem uznania zaangażowania wielu środowisk oraz osób
    uczestniczących w procesie edukacji cyfrowej na różnych płaszczyznach i w
    różnych formułach. Zaangażowanie to bardzo często wykracza poza rutynowe
    formy edukacyjne, wynika z rozumienia znaczenia posiadania kwalifikacji
    cyfrowych jako niezbędnego atrybutu współczesnego człowieka. Szczególnie
    potrzebne są działania na poziomie regionalnym, w szkołach, bibliotekach,
    małych i średnich przedsiębiorstwach. Nie wszystko zależy do środków
    finansowych. Ważniejsze jest dotarcie do potrzebujących i budowanie
    świadomości cyfrowej. Podejmują te wyzwania ludzie, których wysiłki należy
    dostrzegać i za nie dziękować. Ponieważ takich właśnie ludzi są już setki -
    stąd corocznie, od 2017 roku, tworzona jest Lista 100.
  </p>
  <h2>Kogo prezentuje Lista 100?</h2>
  <p>
    Lista 100 prezentuje sylwetki 100 osób, które na przestrzeni roku w
    wyjątkowy sposób przyczyniały się do rozbudowywania świadomości oraz
    kompetencji cyfrowych w naszym kraju.
  </p>
  <p>
    Lista posiada regulamin, a za jej sprawne przeprowadzenie odpowiada rada
    programowa Szerokiego Porozumienia. W sprawach technicznych, logistycznych i
    promocyjnych listy odpowiada jej partner. Partnerstwo to jest rotacyjne.
    Byli nim już np. PTI, NASK, Fundacja Orange, Instytut Spraw Publicznych czy
    Uniwersytet Kardynała Stefana Wyszyńskiego. Znalezienie się na Liście 100
    jest wyrazem uznania środowiskowego, gdyż nominują do niej laureaci
    wcześniejszych list, osoby same bardzo aktywne na polu przybliżania
    technologii cyfrowej w swoich otoczniach zawodowych, lokalnych czy
    regionalnych. Ostatecznego wyboru spośród zgłoszonych kandydatur dokonuje
    Kapituła Listy 100, w oparciu o regulamin jej funkcjonowania. Laureatom
    Listy, poza szacunkiem całego środowiska, co jest chyba najważniejsze,
    przysługuje prawo wykorzystywania logo listy w podpisach ze swoim
    nazwiskiem. Osoby, które więcej jak trzykrotnie były laureatami listy i
    zostały po raz kolejny zgłoszone – stają się członkami Honorowej Listy 100.
  </p>
  <p>
    Najliczniejszą grupę na nowej liście stanowią pracownice oraz pracownicy
    szeroko rozumianej oświaty – szkół, uczelni wyższych oraz ośrodków
    kształcenia. Znaczącą grupę stanowią także osoby aktywne w organizacjach
    pozarządowych – fundacjach czy stowarzyszeniach. W sześciu dotychczasowych
    edycjach Listy 100 uhonorowane zostały 434 osoby.
  </p>
  <p>
    Okres pandemii paradoksalnie niezwykle przyczynił się do zwiększenia
    zainteresowania wykorzystywaniem technologii cyfrowej w wielu obszarach
    aktywności a szczególnie w edukacji. Nauka czy praca zdalna stała się
    codziennością i pomoc w zdobywaniu praktycznych umiejętności uczestnictwa
    cyfrowego stała się nieoceniona. Laureaci Listy 100 byli bardzo aktywni i
    znaleźli doskonałe pole do działania.
  </p>
  <h2>Gdzie jest publikowana Lista 100?</h2>
  <p>
    Lista 100 oraz Honorowa Lista 100 z poszczególnych lat są publikowane na
    stronach internetowych
    <a href="http://umiejetnoscicyfrowe.pl/lista100">SPRUC</a> oraz
    <a href="https://listastu.pl">na tej stronie</a>
  </p>
{% endblock %}
