<header>
  <nav>
    <a href="/" class="header-logo">
      <img src="/static/logo-lista100.png" alt="logo" class="header-logo" />
    </a>

    <div class="links">
      <a href="/aktualnosci">Aktualności</a>
      <a href="/listy">Laureaci list</a>
      <a href="/logotypy">Logotypy</a>
      <a href="/kapitula">Kapituła</a>
      <a
        href="/static/other/Regulamin Listy 100 - projekt 2023.docx"
        target="_blank"
        >Regulamin</a
      >
      <a href="/galeria">Galeria</a>
    </div>
  </nav>
  <hr class="header-hr" />
</header>
